# Assignment 1: Churn prediction

## Imports & Load Data

In [26]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
train1 = pd.read_csv("/Users/marnix/Coding/MAI/AABDW/A1/data/train_month_1.csv")
train2 = pd.read_csv("/Users/marnix/Coding/MAI/AABDW/A1/data/train_month_2.csv")
train3 = pd.read_csv("/Users/marnix/Coding/MAI/AABDW/A1/data/train_month_3_with_target.csv")

## Preprocessing

In [4]:
train1.head()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship
0,910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
3,26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
4,c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [5]:
train1.tail()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship
63692,0a58f2eb841ddac0626dacac6ca69524,1,1,1,0,0,0,0,0,0,...,1998-06,1998-06,2,1982-02,8000,9.0,0,NaN,no,couple
63693,193be2222be99bf04f42193b5cdfb95d,0,0,1,0,0,0,1,0,1,...,1989-05,1989-05,2,1965-05,2020,9.0,0,1.0,NaN,NaN
63694,fa9f074ec8cad610ccaec2270021490e,0,1,0,0,0,1,1,0,1,...,1991-01,1991-01,2,1976-11,1070,9.0,0,3.0,NaN,single
63695,5236064e97c655b0ad99ed2155e1139e,0,0,0,0,0,0,0,0,0,...,2014-04,2014-04,1,1951-03,2560,9.0,0,NaN,no,couple
63696,977dda870c3f54df46297df3869b2907,1,1,0,0,0,0,0,0,0,...,2002-02,2002-02,1,1995-03,9100,9.0,0,NaN,no,NaN

In [5]:
train3.head()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship,target
0,910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,...,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN,0
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,...,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple,0
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,...,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single,0
3,26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,...,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN,0
4,c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,...,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple,1

In [6]:
train3.tail()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship,target
63692,0a58f2eb841ddac0626dacac6ca69524,1,1,1,0,0,0,0,0,0,...,1998-06,2,1982-02,8000,9.0,0,NaN,no,couple,0
63693,193be2222be99bf04f42193b5cdfb95d,0,0,1,0,0,0,1,0,1,...,1989-05,2,1965-05,2020,9.0,0,1.0,NaN,NaN,0
63694,fa9f074ec8cad610ccaec2270021490e,0,1,0,0,0,1,1,0,1,...,1991-01,2,1976-11,1070,9.0,0,3.0,NaN,single,0
63695,5236064e97c655b0ad99ed2155e1139e,0,0,0,0,0,0,0,0,0,...,2014-04,1,1951-03,2560,9.0,0,NaN,no,couple,0
63696,977dda870c3f54df46297df3869b2907,1,1,0,0,0,0,0,0,0,...,2002-02,1,1995-03,9100,9.0,0,NaN,no,NaN,0

In [6]:
target = train3[['client_id','target']]
target.head()

                          client_id  target
0  910df42ad36243aa4ce16324cd7b15b0       0
1  4e19dc3a54323c5bbfc374664b950cd1       0
2  f5d08db1b86c0cb0f566bf446cff1fb4       0
3  26170ecf63653e215c52f4262c1c4859       0
4  c078009957dffb64f20e61b41220a976       1

In [7]:
train3.drop('target', axis=1, inplace=True)
train3.head()

,client_id,homebanking_active,has_homebanking,has_insurance_21,has_insurance_23,has_life_insurance_fixed_cap,has_life_insurance_decreasing_cap,has_fire_car_other_insurance,has_personal_loan,has_mortgage_loan,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,customer_self_employed,customer_education,customer_children,customer_relationship
0,910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
1,4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
2,f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
3,26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
4,c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [8]:
train1.set_index('client_id', inplace=True)
train2.set_index('client_id', inplace=True)
train3.set_index('client_id', inplace=True)
target.set_index('client_id', inplace=True)

In [9]:
train1 = train1.add_prefix('m1_')
train1.columns

Index(['m1_homebanking_active', 'm1_has_homebanking', 'm1_has_insurance_21',
       'm1_has_insurance_23', 'm1_has_life_insurance_fixed_cap',
       'm1_has_life_insurance_decreasing_cap',
       'm1_has_fire_car_other_insurance', 'm1_has_personal_loan',
       'm1_has_mortgage_loan', 'm1_has_current_account',
       'm1_has_pension_saving', 'm1_has_savings_account',
       'm1_has_savings_account_starter', 'm1_has_current_account_starter',
       'm1_bal_insurance_21', 'm1_bal_insurance_23',
       'm1_cap_life_insurance_fixed_cap',
       'm1_cap_life_insurance_decreasing_cap',
       'm1_prem_fire_car_other_insurance', 'm1_bal_personal_loan',
       'm1_bal_mortgage_loan', 'm1_bal_current_account',
       'm1_bal_pension_saving', 'm1_bal_savings_account',
       'm1_bal_savings_account_starter', 'm1_bal_current_account_starter',
       'm1_visits_distinct_so', 'm1_visits_distinct_so_areas',
       'm1_customer_since_all', 'm1_customer_since_bank', 'm1_customer_gender',
       'm1_customer_birth_date', 'm1_customer_postal_code',
       'm1_customer_occupation_code', 'm1_customer_self_employed',
       'm1_customer_education', 'm1_customer_children',
       'm1_customer_relationship'],
      dtype='object')

In [10]:
train2 = train2.add_prefix('m2_')
train3 = train3.add_prefix('m3_')
train2.columns

Index(['m2_homebanking_active', 'm2_has_homebanking', 'm2_has_insurance_21',
       'm2_has_insurance_23', 'm2_has_life_insurance_fixed_cap',
       'm2_has_life_insurance_decreasing_cap',
       'm2_has_fire_car_other_insurance', 'm2_has_personal_loan',
       'm2_has_mortgage_loan', 'm2_has_current_account',
       'm2_has_pension_saving', 'm2_has_savings_account',
       'm2_has_savings_account_starter', 'm2_has_current_account_starter',
       'm2_bal_insurance_21', 'm2_bal_insurance_23',
       'm2_cap_life_insurance_fixed_cap',
       'm2_cap_life_insurance_decreasing_cap',
       'm2_prem_fire_car_other_insurance', 'm2_bal_personal_loan',
       'm2_bal_mortgage_loan', 'm2_bal_current_account',
       'm2_bal_pension_saving', 'm2_bal_savings_account',
       'm2_bal_savings_account_starter', 'm2_bal_current_account_starter',
       'm2_visits_distinct_so', 'm2_visits_distinct_so_areas',
       'm2_customer_since_all', 'm2_customer_since_bank', 'm2_customer_gender',
       'm2_customer_birth_date', 'm2_customer_postal_code',
       'm2_customer_occupation_code', 'm2_customer_self_employed',
       'm2_customer_education', 'm2_customer_children',
       'm2_customer_relationship'],
      dtype='object')

In [17]:
train3.set_index('client_id')

,m3_homebanking_active,m3_has_homebanking,m3_has_insurance_21,m3_has_insurance_23,m3_has_life_insurance_fixed_cap,m3_has_life_insurance_decreasing_cap,m3_has_fire_car_other_insurance,m3_has_personal_loan,m3_has_mortgage_loan,m3_has_current_account,...,m3_customer_since_all,m3_customer_since_bank,m3_customer_gender,m3_customer_birth_date,m3_customer_postal_code,m3_customer_occupation_code,m3_customer_self_employed,m3_customer_education,m3_customer_children,m3_customer_relationship
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0a58f2eb841ddac0626dacac6ca69524,1,1,1,0,0,0,0,0,0,1,...,1998-06,1998-06,2,1982-02,8000,9.0,0,NaN,no,couple
193be2222be99bf04f42193b5cdfb95d,0,0,1,0,0,0,1,0,1,1,...,1989-05,1989-05,2,1965-05,2020,9.0,0,1.0,NaN,NaN
fa9f074ec8cad610ccaec2270021490e,0,1,0,0,0,1,1,0,1,1,...,1991-01,1991-01,2,1976-11,1070,9.0,0,3.0,NaN,single
5236064e97c655b0ad99ed2155e1139e,0,0,0,0,0,0,0,0,0,0,...,2014-04,2014-04,1,1951-03,2560,9.0,0,NaN,no,couple
977dda870c3f54df46297df3869b2907,1,1,0,0,0,0,0,0,0,1,...,2002-02,2002-02,1,1995-03,9100,9.0,0,NaN,no,NaN

In [11]:
train = pd.merge(train1, train2, on='client_id',  how='inner')

In [12]:
train = pd.merge(train, train3, on='client_id', how='inner')

In [16]:
train.head()

,m1_homebanking_active,m1_has_homebanking,m1_has_insurance_21,m1_has_insurance_23,m1_has_life_insurance_fixed_cap,m1_has_life_insurance_decreasing_cap,m1_has_fire_car_other_insurance,m1_has_personal_loan,m1_has_mortgage_loan,m1_has_current_account,...,m3_customer_since_all,m3_customer_since_bank,m3_customer_gender,m3_customer_birth_date,m3_customer_postal_code,m3_customer_occupation_code,m3_customer_self_employed,m3_customer_education,m3_customer_children,m3_customer_relationship
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [14]:
target.head()

                                  target
client_id
910df42ad36243aa4ce16324cd7b15b0       0
4e19dc3a54323c5bbfc374664b950cd1       0
f5d08db1b86c0cb0f566bf446cff1fb4       0
26170ecf63653e215c52f4262c1c4859       0
c078009957dffb64f20e61b41220a976       1

In [17]:
print(train.columns.values.tolist())

['m1_homebanking_active', 'm1_has_homebanking', 'm1_has_insurance_21', 'm1_has_insurance_23', 'm1_has_life_insurance_fixed_cap', 'm1_has_life_insurance_decreasing_cap', 'm1_has_fire_car_other_insurance', 'm1_has_personal_loan', 'm1_has_mortgage_loan', 'm1_has_current_account', 'm1_has_pension_saving', 'm1_has_savings_account', 'm1_has_savings_account_starter', 'm1_has_current_account_starter', 'm1_bal_insurance_21', 'm1_bal_insurance_23', 'm1_cap_life_insurance_fixed_cap', 'm1_cap_life_insurance_decreasing_cap', 'm1_prem_fire_car_other_insurance', 'm1_bal_personal_loan', 'm1_bal_mortgage_loan', 'm1_bal_current_account', 'm1_bal_pension_saving', 'm1_bal_savings_account', 'm1_bal_savings_account_starter', 'm1_bal_current_account_starter', 'm1_visits_distinct_so', 'm1_visits_distinct_so_areas', 'm1_customer_since_all', 'm1_customer_since_bank', 'm1_customer_gender', 'm1_customer_birth_date', 'm1_customer_postal_code', 'm1_customer_occupation_code', 'm1_customer_self_employed', 'm1_customer_education', 'm1_customer_children', 'm1_customer_relationship', 'm2_homebanking_active', 'm2_has_homebanking', 'm2_has_insurance_21', 'm2_has_insurance_23', 'm2_has_life_insurance_fixed_cap', 'm2_has_life_insurance_decreasing_cap', 'm2_has_fire_car_other_insurance', 'm2_has_personal_loan', 'm2_has_mortgage_loan', 'm2_has_current_account', 'm2_has_pension_saving', 'm2_has_savings_account', 'm2_has_savings_account_starter', 'm2_has_current_account_starter', 'm2_bal_insurance_21', 'm2_bal_insurance_23', 'm2_cap_life_insurance_fixed_cap', 'm2_cap_life_insurance_decreasing_cap', 'm2_prem_fire_car_other_insurance', 'm2_bal_personal_loan', 'm2_bal_mortgage_loan', 'm2_bal_current_account', 'm2_bal_pension_saving', 'm2_bal_savings_account', 'm2_bal_savings_account_starter', 'm2_bal_current_account_starter', 'm2_visits_distinct_so', 'm2_visits_distinct_so_areas', 'm2_customer_since_all', 'm2_customer_since_bank', 'm2_customer_gender', 'm2_customer_birth_date', 'm2_customer_postal_code', 'm2_customer_occupation_code', 'm2_customer_self_employed', 'm2_customer_education', 'm2_customer_children', 'm2_customer_relationship', 'm3_homebanking_active', 'm3_has_homebanking', 'm3_has_insurance_21', 'm3_has_insurance_23', 'm3_has_life_insurance_fixed_cap', 'm3_has_life_insurance_decreasing_cap', 'm3_has_fire_car_other_insurance', 'm3_has_personal_loan', 'm3_has_mortgage_loan', 'm3_has_current_account', 'm3_has_pension_saving', 'm3_has_savings_account', 'm3_has_savings_account_starter', 'm3_has_current_account_starter', 'm3_bal_insurance_21', 'm3_bal_insurance_23', 'm3_cap_life_insurance_fixed_cap', 'm3_cap_life_insurance_decreasing_cap', 'm3_prem_fire_car_other_insurance', 'm3_bal_personal_loan', 'm3_bal_mortgage_loan', 'm3_bal_current_account', 'm3_bal_pension_saving', 'm3_bal_savings_account', 'm3_bal_savings_account_starter', 'm3_bal_current_account_starter', 'm3_visits_distinct_so', 'm3_visits_distinct_so_areas', 'm3_customer_since_all', 'm3_customer_since_bank', 'm3_customer_gender', 'm3_customer_birth_date', 'm3_customer_postal_code', 'm3_customer_occupation_code', 'm3_customer_self_employed', 'm3_customer_education', 'm3_customer_children', 'm3_customer_relationship']

**Columns to consider**

costumer_since_all,  cost_since_bank, cost_gender, birth_date, postal_code, education, 

to check: children, relation,  self_employed, occupation_code

!  Next time maybe just check. all columns !

In [18]:
#columns_to_check = ['customer_children', 'customer_relationship', 'customer_self_employed', 'customer_occupation_code', 'customer_education',  'customer_since_all', 'customer_since_bank', 'customer_gender', 'customer_birth_date', 'customer_postal_code']
columns_to_check = [c[3:] for c in train1.columns.to_list()]

ok = []

for c in columns_to_check:
    m1 = 'm1_' + c
    m2 = 'm2_' + c
    m3 = 'm3_' + c
    
    if train[m1].equals(train[m2])  and train[m1].equals(train[m3]):
        ok.append(c)
        
print(ok)

['customer_since_all', 'customer_since_bank', 'customer_gender', 'customer_birth_date', 'customer_postal_code', 'customer_occupation_code', 'customer_education']

In [19]:
for c in ok:
    m1 = 'm1_' + c
    m2 = 'm2_' + c
    train.drop(m1, axis=1, inplace=True)
    train.drop(m2, axis=1, inplace=True)
    
train.head()

,m1_homebanking_active,m1_has_homebanking,m1_has_insurance_21,m1_has_insurance_23,m1_has_life_insurance_fixed_cap,m1_has_life_insurance_decreasing_cap,m1_has_fire_car_other_insurance,m1_has_personal_loan,m1_has_mortgage_loan,m1_has_current_account,...,m3_customer_since_all,m3_customer_since_bank,m3_customer_gender,m3_customer_birth_date,m3_customer_postal_code,m3_customer_occupation_code,m3_customer_self_employed,m3_customer_education,m3_customer_children,m3_customer_relationship
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [20]:
for c in ok:
    m3 = 'm3_' + c
    train.rename(columns={m3: c}, inplace=True)
    
train.head()

,m1_homebanking_active,m1_has_homebanking,m1_has_insurance_21,m1_has_insurance_23,m1_has_life_insurance_fixed_cap,m1_has_life_insurance_decreasing_cap,m1_has_fire_car_other_insurance,m1_has_personal_loan,m1_has_mortgage_loan,m1_has_current_account,...,customer_since_all,customer_since_bank,customer_gender,customer_birth_date,customer_postal_code,customer_occupation_code,m3_customer_self_employed,customer_education,m3_customer_children,m3_customer_relationship
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,1983-03,1994-08,1,1943-09,3630,9.0,0,0.0,NaN,NaN
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,2017-01,2017-01,1,1994-02,2460,9.0,0,NaN,mature,couple
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,1980-12,1980-12,2,1936-10,2660,9.0,0,NaN,NaN,single
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,1998-08,2013-10,1,1946-09,6600,9.0,0,NaN,NaN,NaN
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,2012-11,2012-11,2,1996-04,8550,9.0,0,NaN,mature,couple

In [21]:
# Check missingness
m = {}

for c in train.columns:
    v = train[c].isnull().sum()
    if v != 0:
        m[c] = v
    
print(m)

{'m1_customer_children': 23056, 'm1_customer_relationship': 14456, 'm2_customer_children': 23065, 'm2_customer_relationship': 14476, 'customer_since_all': 234, 'customer_since_bank': 249, 'customer_occupation_code': 2002, 'customer_education': 47125, 'm3_customer_children': 23364, 'm3_customer_relationship': 14899}

In [22]:
train[['birth_year', 'birth_month']] = train['customer_birth_date'].str.split('-', 1, expand=True)
train.columns

Index(['m1_homebanking_active', 'm1_has_homebanking', 'm1_has_insurance_21',
       'm1_has_insurance_23', 'm1_has_life_insurance_fixed_cap',
       'm1_has_life_insurance_decreasing_cap',
       'm1_has_fire_car_other_insurance', 'm1_has_personal_loan',
       'm1_has_mortgage_loan', 'm1_has_current_account',
       ...
       'customer_gender', 'customer_birth_date', 'customer_postal_code',
       'customer_occupation_code', 'm3_customer_self_employed',
       'customer_education', 'm3_customer_children',
       'm3_customer_relationship', 'birth_year', 'birth_month'],
      dtype='object', length=102)

In [24]:
train.drop('customer_birth_date', axis=1, inplace=True)
train.head()

,m1_homebanking_active,m1_has_homebanking,m1_has_insurance_21,m1_has_insurance_23,m1_has_life_insurance_fixed_cap,m1_has_life_insurance_decreasing_cap,m1_has_fire_car_other_insurance,m1_has_personal_loan,m1_has_mortgage_loan,m1_has_current_account,...,customer_since_bank,customer_gender,customer_postal_code,customer_occupation_code,m3_customer_self_employed,customer_education,m3_customer_children,m3_customer_relationship,birth_year,birth_month
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,1994-08,1,3630,9.0,0,0.0,NaN,NaN,1943,09
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,2017-01,1,2460,9.0,0,NaN,mature,couple,1994,02
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,1980-12,2,2660,9.0,0,NaN,NaN,single,1936,10
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,2013-10,1,6600,9.0,0,NaN,NaN,NaN,1946,09
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,2012-11,2,8550,9.0,0,NaN,mature,couple,1996,04

In [37]:
train[train['birth_year'].astype(int) < train['customer_since_bank_year'].astype(int)]

ValueError: cannot convert float NaN to integer

In [33]:
train[['customer_since_all_year', 'customer_since_all_month']] = train['customer_since_all'].str.split('-', 1, expand=True)
train[['customer_since_bank_year', 'customer_since_bank_month']] = train['customer_since_bank'].str.split('-', 1, expand=True)

In [35]:
train.drop('customer_since_all', axis=1, inplace=True)
train.drop('customer_since_bank', axis=1, inplace=True)
train.head()

,m1_homebanking_active,m1_has_homebanking,m1_has_insurance_21,m1_has_insurance_23,m1_has_life_insurance_fixed_cap,m1_has_life_insurance_decreasing_cap,m1_has_fire_car_other_insurance,m1_has_personal_loan,m1_has_mortgage_loan,m1_has_current_account,...,m3_customer_self_employed,customer_education,m3_customer_children,m3_customer_relationship,birth_year,birth_month,customer_since_all_year,customer_since_all_month,customer_since_bank_year,customer_since_bank_month
client_id,,,,,,,,,,,,,,,,,,,,,
910df42ad36243aa4ce16324cd7b15b0,0,0,0,0,0,0,1,0,0,1,...,0,0.0,NaN,NaN,1943,09,1983,03,1994,08
4e19dc3a54323c5bbfc374664b950cd1,1,1,0,0,0,0,0,0,0,1,...,0,NaN,mature,couple,1994,02,2017,01,2017,01
f5d08db1b86c0cb0f566bf446cff1fb4,1,1,0,0,0,0,1,0,0,1,...,0,NaN,NaN,single,1936,10,1980,12,1980,12
26170ecf63653e215c52f4262c1c4859,0,0,0,0,0,0,1,0,0,0,...,0,NaN,NaN,NaN,1946,09,1998,08,2013,10
c078009957dffb64f20e61b41220a976,0,0,0,0,0,0,0,0,0,0,...,0,NaN,mature,couple,1996,04,2012,11,2012,11

In [40]:
print(train.shape)

(63697, 103)

**ToDo**
- [x] remove duplicate cols (like birth_date, postal_code etc)
- [ ] remove instances with inconsistent data
- [x] refactor birth > age (and all other dates)
- [ ] refactor postal codes > region
- [ ] think about other categorical features
- [ ] think about missing values
- [ ] Check correlation between cols
- [ ] Check nr of Churners in Test set to compare performance

## Decision Trees

In [30]:
clf = DecisionTreeClassifier()
clf = clf.fit(train, target)

ValueError: could not convert string to float: '910df42ad36243aa4ce16324cd7b15b0'